.home {
  height: 35rem;
}

.title-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: var(--primary-color);
}

.subtitle {
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  color: var(--primary-color);
}
