.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
  background-color: white;
}

.header-logo {
  font-family: 'Roboto';
  font-size: 24px;
  color: var(--primary-color);
}